// splash-related colors
$light-gray: #e6e6e6;
$splash-title: #262838;
$splash-gray: #656773;
$splash-blue: #3f46ad;
$splash-hover-blue: #1c299d;
$link-blue: #3f46ad;
$splash-demo-gray: #6d6f7b;

// auth-related colors
$auth-background: #f7f8f7;
$auth-light-gray: #e8e8e8;
$input-border: #a0a0a2;
$green: #2ea664;

// messages-related colors
$purple: #3c2a3b;
$dark-purple: #271826;
