
// splash-related colors
$light-gray: #E6E6E6;
$splash-title: #262838;
$splash-gray: #656773;
$splash-blue: #3f46ad;
$splash-hover-blue: #1c299d;
$link-blue: #3f46ad;
$splash-demo-gray: #6d6f7b;

// auth-related colors
$auth-background: #F7F8F7
