// Any styles that affect the entire app should go in this file

html {
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
}

button {
  border-radius: 4px;
  border: none;
  background: 0 0;
  transition: all 420ms cubic-bezier(.165,.84,.44,1);
}

button:hover, a:hover {
  cursor: pointer;
}

button:focus {
  outline: none;
}
