// Any styles that affect the entire app should go in this file
@import "loaders.css/src/animations/ball-pulse.scss";

html {
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  box-sizing: border-box;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

button,
a.button,
input[type="submit"] {
  border-radius: 4px;
  display: inline-block;
  border: none;
  background: 0 0;
  transition: all 420ms cubic-bezier(0.165, 0.84, 0.44, 1);
}

button:hover,
a:hover,
input[type="submit"] {
  cursor: pointer;
}

button:focus,
input:focus {
  outline: none;
}

a {
  text-decoration: none;
}

.loader-container {
  width: 200px;
  margin: 15% auto;
  text-align: center;
}

.loader-hidden {
  display: none;
}
.loader-active {
  display: block;
}
