// Styles for splash page

nav {
  border-bottom: 1px solid $light-gray;
  height: 70px;
}

.nav-content-container {
    height: 100%;
    display: flex;
    margin: 0 auto;
    padding: 0 8vw;
    justify-content: space-between;
    align-items: center;

    .logo {
      align-items: center;
      display: flex;
      font-size: 24px;
      color: $link-blue;
      .fa {
        margin-right: 4px;
      }
    }

    .demo {
      padding: 10px;
      color: $splash-demo-gray;
      box-shadow: inset 0 0 0 1px #323648;
      width: 125px;
    }

    .demo:hover {
      color: $splash-blue;
      box-shadow: inset 0 0 0 1px #9ba0d3;
    }

}

.splash-container {
  display: grid;
  grid-template-columns: 100%;  
  padding: 12px 8vw 0 8vw;
}

.splash {
  margin: .67em auto;
  width: 100%;
  color: $splash-gray;
  .splash-header {
    font-size: calc(2.2rem + (41.6 * (100vw - 400px)/ 670));
    line-height: 1.05;
    margin-bottom: 2rem;
    color: $splash-title;
    font-family: serif;
  }

  .splash-description {
    line-height: 1.7;
    font-size: calc(1.0625rem + (3 * (100vw - 400px)/ 670));
    font-weight: 400;
    margin-bottom: 3rem;
  }

  .splash-auth {
    a.button {
      text-align: center;
      background-color: $splash-blue;
      color: white;
      padding: 19px 40px 20px;
      width: 80%;
    }

    button:hover {
      background-color: $splash-hover-blue;
    }

    a {
      color: $link-blue;
      border-bottom: 1px solid $link-blue;
    }
  }

  .splash-image-container {
    display: flex;
    justify-content: center;
    margin-top: 3rem;

    img {
      align-self: center;
      height: 300px;
    }
  }
}


@media screen and (min-width: 48rem) {
  .nav-content-container {
    padding: 0 4vw;
  }

  .splash {
    display: grid;
    grid-template-columns: 40% 50%;
    grid-column-gap: 10%;
    grid-template-areas: "pic text";
  }
  
  .splash-image-container {
    grid-area: pic;
  }

  .splash-text {
    grid-area: text;
  }

  .splash .splash-auth a.button {
    width: 130px;
  }
}